<div class="container max-w-4xl mx-auto my-8 border-sky-100 border-2 bg-sky-50">
  <form class="p-2 mx-5">
    <h3 class="font-bold text-lg">Add a Link</h3>

    <div class="containter mt-2 flex flex-col">
      <label for="title" class="font-semibold text-ms mb-1">Title:</label>
      <input
        name="title"
        #newTitle
        id="title"
        class="border-sky-100 border-2 py-1 focus:outline-none px-2"
      />
    </div>

    <div class="containter mt-2 flex flex-col">
      <label for="link" class="font-semibold text-ms mb-1">Link:</label>
      <input
        name="link"
        #newLink
        id="link"
        class="border-sky-100 border-2 py-1 focus:outline-none px-2"
      />
    </div>
    <div class="container flex justify-end">
      <button
        (click)="addArticle(newTitle, newLink)"
        class="bg-green-500 mt-2 text-white text-xs py-1 font-bold px-2 rounded-md"
      >
        Submit Link
      </button>
    </div>
  </form>
</div>
<div class="container max-w-4xl mx-auto my-8">
  <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
</div>

